<?php $conf = GLOBALS('conf');?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="WellCMS" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="renderer" content="webkit" />
	<title><?php echo lang('install_title');?></title>

	<link rel="shortcut icon" href="<?php echo $conf['favicon_ico'];?>" />
	<link rel="icon" sizes="32x32" href="<?php echo $conf['favicon_ico'];?>">
	<link rel="Bookmark" href="<?php echo $conf['favicon_ico'];?>" />
	<link rel="stylesheet" href="../view/css/bootstrap.min.css">
	<link rel="stylesheet" href="../view/css/font-awesome.min.css">
	<link rel="stylesheet" href="../view/css/wellcms.mini.css">

</head>
<body>