<footer class="text-muted small bg-dark py-4 mt-3" id="footer" style="padding: 0 15px;box-sizing: border-box;">
	<div class="container-fluid">
		<div class="row footerNavInc">
			<div class="col">
				<!--{hook footer_footer_left_start.htm}-->
			<?php echo $conf['sitename'];?> CopyRight © 2022 All Rights Reserved
                <!-- 其他信息请追加此处 -->
				<!--{hook footer_footer_left_end.htm}-->
			</div>
			<div class="col text-right footerMen">
					<!--{hook footer_nav_menu_end.htm}-->
				<a href="/read/445237">About Us</a>
				<a href="/read/445238">Returns Policy</a>
				<a href="/read/445239">Terms & Conditions</a>
				
			
			</div>
		</div>
	</div>
</footer>