<!--{hook thread__list_inc_start.htm}-->

    <style>
         .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 100%;


        }

        a {
            color: #666;
        }

        .delPrice {
            color: #aaa;
            text-decoration: line-through;
        }

        .proBox {
            white-space: nowrap;
            line-height: 1.5em;
            font-weight: 400;
            display: block;
            width:100%;
            position:absolute;
            left:0;
            text-align: center;
            bottom:10px
        }

        .itemBox {
            max-width: 50%;
            text-align: center;
            border: 1px solid #ddd;
            box-sizing: border-box;
            position: relative;
        }
        .itemBox img {
            width: 100%
        }
        </style>

<?php if($threadlist) { 

    $readUrl=isset($readUrl)?$readUrl:'';
    foreach($threadlist as &$_thread) { 
    ?>
<div class="itemBox">


   
        <div>
            <?php if ($_thread['image_url']) { ?>
            
                <a href="https://luxdupes.com<?php echo $_thread['url'].$readUrl; ?>" class="thListImgLinkBoxEmail" data="<?php echo $_thread['image_url'];?>">
                   
                </a>
      <?php }  ?>
           


   

         
                  
         
                
     
  <!--{hook thread__list_inc_subject_after.htm}-->
                    <!--{hook thread__list_inc_subject__after.htm}-->




               
      
        </div>
  
</div>
<?php }} else { ?>

    <div><?php echo lang('none');?></div>

<?php } ?>


<!--{hook thread__list_inc_end.htm}-->

